 <!-------------------------------------- header   -------------------------------------->
 <header>
    <div class="about">
        <h1>
            /م
            <br>
            <span class="name">ايهاب عزمي</span>
            <br>
            <span class="slogan">مدرس اول لغة انجليزية</span>
        </h1>
    </div>
    <div class="profile">
        <img src="assets/img/profile.png" alt="">
    </div>
</header>


<!--------------------------------------  features   -------------------------------------->
<section id="features">
    <h2>مميزات المنصة</h2>
    <div class="features-card">
        <img src="assets/img/video.png" alt="videos">
        <h3>فيديوهات احترافية</h3>
        <i class="fa-solid fa-heart"></i>
    </div>
    <div class="features-card">
        <img src="assets/img/exam.png" alt="tests">
        <h3>اختبارات تفاعلية</h3>
        <i class="fa-solid fa-heart"></i>
    </div>
    <div class="features-card">
        <img src="assets/img/timetable.png" alt="life long">
        <h3>اشتراكك مدى الحياة</h3>
        <i class="fa-solid fa-heart"></i>
    </div>

    <!-- background -->
    <img src="assets/img/features-bg.jpg" alt="bg" class="features-bg">
</section>


<!-------------------------------------- courses -------------------------------------->
<section >
    <app-courses-overview></app-courses-overview>
</section>



<!-------------------------------------- footer -------------------------------------->
<footer>
    <h3>م/ ايهاب عزمي</h3>
    <p>نبذه عن مستر ايهاب عزمي - من هو وخبراته وتجاربه في تدريس اللغة الانجليزية للطلبة من مختلف المراحل التعليمية</p>
    <div class="social">
        <a href=""><img src="assets/img/facebook.png" alt=""></a>
        <a href=""><img src="assets/img/youtube.png" alt=""></a>
    </div>
    <p>Developed By <a href="">Bassam</a> & <a href="">Eslam</a> <br> All Copy Rights Reserved @2023</p>
</footer>