


<nav class="bg-white  dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a  routerLink="" class="flex items-center">
    <img src="assets/img/logo.png" alt="logo">
  </a>
  <div class="flex items-center md:order-2">
    
        <li class="nav-item p-2" *ngIf="isLoginMode ==true ">
          <button mat-raised-button class="nav-link" class="button">{{username}}</button>
       </li>    
      <li *ngIf="isLoginMode == false" > <a routerLink="/login" >تسجيل الدخول</a> </li>
      <li *ngIf="isLoginMode == true"><a (click)="logout()" routerLink="/login" style="cursor: pointer;" >تسجيل الخروج</a></li>
 
     
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
    <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page" routerLink="">الرئيسية</a>
      </li>
      <li>
        <a class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" routerLink="/users" *ngIf="isadmin && isMenuRequired ">طلبات الاشتراك</a>

      </li>
      <li>
        <a class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" routerLink="/users-data" *ngIf="isadmin && isMenuRequired "> الطلاب</a>

      </li>
      <li>
        <a class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" routerLink="/add-course" *ngIf="isadmin && isMenuRequired ">اضافة الكورسات</a>
      </li>
    
    </ul>
  </div>
  </div>
</nav>

